<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Members Only | Basic User Auth</title>
  </head>
  <body class="w-[100vw] h-[100vh] flex flex-col bg-white">
    <%- include("../partials/header.ejs", {isAuth: locals.isAuth || false}) %>
    <!--  -->
    <main class="p-4 flex flex-col items-center gap-6">
      <%- include("../partials/section-heading", {display: heading}) %> <%-
      include("../partials/paragraph", {text: message}) %> <% if(!locals.isAuth)
      { %>
      <div>
        <%- include("../partials/cta-link", {path: "/log-in",display: "login"})
        %>
        <!--  -->
        <%- include("../partials/cta-link", {path: "/sign-up",display:
        "signup"}) %>
      </div>
      <% } %>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
