<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Members Only | Basic User Auth</title>
  </head>
  <body class="w-[100vw] h-[100vh] flex flex-col bg-white">
    <%- include("../partials/header.ejs", {isAuth: locals.isAuth || false}) %>
    <!--  -->
    <main
      class="w-full p-2 flex flex-col items-center justify-stretch gap-2 sm:p-4"
    >
      <% if(isAuth === false) { %>
      <!--  -->
      <%- include("../partials/section-heading", {display: `Welcome to Members
      Only`}) %> <%- include("../partials/paragraph", {text: `To create your own
      message login in or create account by signup. To find out who is message
      author, become member by answering secret question!`}) %>
      <!--  -->
      <% } %>
      <!--  -->
      <%- include('../partials/section-heading', {display: `Latest messages`})
      %>
      <!--  -->
      <%- include('../partials/message-card-list', {messages: messages}) %>
      <!-- PAGINATION -->
      <%- include("../partials/page-slider",{ currentPage: currentPage,
      pageLimit: pageLimit, messagesLength: messages.length, prevPath:
      `/?page=${currentPage - 1}`, nextPath: `/?page=${currentPage + 1}` }) %>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
