<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Members Only | Basic User Auth</title>
  </head>
  <body class="w-[100vw] h-[100vh] flex flex-col bg-white">
    <%- include("../partials/header.ejs", {isAuth: locals.isAuth || true}) %>
    <!--  -->
    <main class="flex gap-2 p-4">
      <aside class="flex flex-col gap-1">
        <%- include("../partials/cta-link", {path:`/messages/new`, display:
        "create new message"}) %>
        <!--  -->
        <%- include("../partials/cta-link", {path:`/messages`, display: `list
        latest messages`}) %>
        <!--  -->
        <%- include("../partials/cta-link", {path:`/messages/?user=current`,
        display: `list your messages`}) %>
        <!--  -->
        <% if(!isCurrentMember) { %> <%- include("../partials/cta-link", {path:
        `/membership`, display: `become member`}) %> <% } %>
      </aside>

      <section class="w-full space-y-4">
        <form action="/messages" method="get" class="flex items-end">
          <% if(isCurrentMember) { %>
          <div class="">
            <label class="block text-gray-400 font-bold mb-2" for="filter"
              >Search by</label
            >
            <select
              class="shadow appearance-auto border border-pink rounded py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline placeholder:text-gray-200"
              name="filter"
              id="filter"
            >
              >
              <option value="title">title</option>
              <option value="first_name">first name</option>
              <option value="last_name">last name</option>
            </select>
          </div>
          <% } %>

          <input
            class="shadow appearance-none border border-pink rounded w-full py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline placeholder:text-gray-200"
            type="search"
            name="search"
            placeholder="search"
          />
        </form>

        <%- include('../partials/message-card-list', {messages: messages}) %>
        <!-- PAGINATION -->
        <%- include('../partials/page-slider', {currentPage, pageLimit,
        messagesLength: messages.length, prevPath, nextPath}) %>
      </section>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
