<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Members Only | Basic User Auth</title>
  </head>
  <body class="w-[100vw] h-[100vh] flex flex-col bg-white">
    <%- include("../partials/header.ejs", {isAuth: locals.isAuth || true}) %>
    <!--  -->
    <main class="flex gap-2 p-4">
      <aside class="flex flex-col gap-1">
        <%- include("../partials/cta-link", {path:"/messages/new", display:
        "create new message"}) %> <%- include("../partials/cta-link",
        {path:"/messages", display: "list your messages"}) %>
      </aside>

      <section class="w-full">
        <form action="/messages" method="get">
          <input
            class="shadow appearance-none border border-pink rounded w-full py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline placeholder:text-gray-200"
            type="search"
            name="search"
            placeholder="search"
          />
        </form>

        <% if(messages.length > 0) { %>
        <ul class="space-y-2">
          <% messages.forEach((msg) => { %>
          <!--  -->
          <%- include("../partials/message-card", {message: msg}) %> <% }); %>
        </ul>
        <% } else { %>
        <p>no messages created</p>
        <% } %>
      </section>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
