<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Members Only | Basic User Auth</title>
  </head>
  <body class="w-[100vw] h-[100vh] flex flex-col bg-white">
    <%- include("../partials/header.ejs", {isAuth: locals.isAuth || false}) %>
    <!--  -->
    <main class="w-full p-4 flex flex-col items-center">
      <form
        class="w-full sm:w-[500px]"
        action="<%- actionPath %>"
        method="post"
      >
        <%- include("../partials/section-heading", { display: "Create New User"
        }) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "first name", nameId:
        "firstName", type: "text", value: values.firstName }) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "last name", nameId:
        "lastName", type: "text", value: values.lastName}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "email", nameId: "email",
        type: "email", value: values.email}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "password", nameId:
        "password", type: "password", value: values.password}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "confirm password",
        nameId: "confirmPassword", type: "password", value:
        values.confirmPassword}) %>
        <!--  -->
        <% if(errors.length > 0) { %>
        <!--  -->
        <%- include("../partials/form-errors",{errors: errors}) %>
        <!--  -->
        <% } %>
        <!--  -->
        <%- include("../partials/cta-button", {display: "create user", type:
        "submit"}) %>
      </form>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
