<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Members Only | Basic User Auth</title>
  </head>
  <body class="w-[100vw] h-[100vh] flex flex-col bg-white">
    <%- include("../partials/header.ejs", {auth: false}) %>
    <!--  -->
    <main class="p-4 flex flex-col items-center">
      <form action="/auth/sign-up" method="post">
        <%- include("../partials/section-heading", { display: "Create New User"
        }) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "first name", nameId:
        "firstName", type: "text"}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "last name", nameId:
        "lastName", type: "text"}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "email", nameId: "email",
        type: "email"}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "password", nameId:
        "password", type: "password"}) %>
        <!--  -->
        <%- include("../partials/input-field", {label: "confirm password",
        nameId: "confirmPassword", type: "password"}) %>
        <!--  -->
        <%- include("../partials/cta-button", {display: "create user", type:
        "submit"}) %>
      </form>
    </main>
    <!--  -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
