<!-- 
params: {
  type: "text" | "email" | "password" | "textarea",
  nameId: string,
  label: string
}
-->
<div>
  <% if(type === 'text') { %>
  <label for="<%- nameId %>"><%- label %></label>
  <input
    type="text"
    name="<%- nameId %>"
    id="<%- nameId %>"
    placeholder="<%- label%>"
  />
  <% } else if (type === 'email') { %>
  <label for="<%- nameId %>"><%- label %></label>
  <input
    type="email"
    name="<%- nameId %>"
    id="<%- nameId %>"
    placeholder="<%- label%>"
  />
  <% } else if (type === 'email') { %>
  <label for="<%- nameId %>"><%- label %></label>
  <input
    type="email"
    name="<%- nameId %>"
    id="<%- nameId %>"
    placeholder="<%- label%>"
  />
  <% } else if (type === 'password') { %>
  <label for="<%- nameId %>"><%- label %></label>
  <input
    type="password"
    name="<%- nameId %>"
    id="<%- nameId %>"
    placeholder="<%- label%>"
  />
  <% } %>
</div>
