<!-- 
params: {
  type: "text" | "email" | "password" | "textarea",
  nameId: string,
  label: string,
  value: string
}
-->
<div class="mb-2">
  <label class="block text-gray-400 font-bold mb-2" for="<%- nameId %>"
    ><%- label %></label
  >

  <% if(type === 'textarea') { %>
  <textarea
    class="shadow appearance-none border border-pink rounded w-full py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline"
    name="<%- nameId %>"
    id="<%- nameId %>"
  >
<%- value %></textarea
  >
  <% } else { %>
  <input
    class="shadow appearance-none border border-pink rounded w-full py-2 px-3 text-gray-400 leading-tight focus:outline-none focus:shadow-outline"
    type="<%- type %>"
    name="<%- nameId %>"
    id="<%- nameId %>"
    placeholder="<%- label %>"
    value="<%- value %>"
  />
  <% } %>
</div>
