<!-- 
params: {
  type: "text" | "email" | "password" | "textarea",
  nameId: string,
  label: string
}
-->
<div class="flex flex-col">
  <label class="text-gray-400" for="<%- nameId %>"><%- label %></label>

  <% if(type === 'textarea') { %>
  <textarea
    class="placeholder:text-gray-200"
    name="<%- nameId %>"
    id="<%- nameId %>"
  ></textarea>

  /> <% } else { %>
  <input
    class="placeholder:text-gray-200"
    type="<%- type %>"
    name="<%- nameId %>"
    id="<%- nameId %>"
    placeholder="<%- label%>"
  />
  <% } %>
</div>
