<!-- story: Story -->
<article
  class="py-8 px-10 flex flex-col gap-4 rounded-sm font-typewriter bg-gray-300"
>
  <header
    class="flex flex-col sm:flex-row items-center sm:justify-between gap-2 sm:gap-8"
  >
    <h3 class="font-bold text-gray-600 text-2xl uppercase">
      <%= story.title%>
    </h3>
    <div class="flex flex-col items-center justify-between">
      <span class="text-gray-400 text-sm"><%= story.createdAt%></span>
      <div class="flex items-center gap-4">
        <a
          class="text-gray-600 hover:text-gray-400 hover:underline"
          href="/dashboard/edit/<%= story.storyId %>"
          >edit</a
        >
        <a
          class="text-gray-600 hover:text-red-500 hover:underline"
          href="/dashboard/delete/<%= story.storyId %>"
          >delete</a
        >
      </div>
    </div>
  </header>
  <p class="first-letter:uppercase first-letter:text-2xl text-gray-600">
    <%= story.story %>
  </p>
</article>
